commands:
  00-create-test-log:
    command: "echo 'Running python.config commands' > /tmp/test-ebextensions.log"

  01-install-venv:
    command: "python3 -m venv /var/app/venv"

  02-upgrade-pip:
    command: "/var/app/venv/bin/pip install --upgrade pip setuptools wheel"

  03-install-requirements:
    command: "/var/app/venv/bin/pip install -r /var/app/staging/Blacklists/requirements.txt"

  04-list-packages:
      command: "/var/app/venv/bin/pip list > /tmp/pip-installed.log"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: Blacklists.app:app
